{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="large-3 columns">
            {% thumbnail salon.picture, 'medium_square' %}
        </div>
        <div class="large-9 columns">
            <div class="panel">
                <div class="row">
                    <div class="large-7 columns">
                        <h1>{{ salon.name }}</h1>
                        <a class="tiny secondary button" href="">Üzenet</a>
                        <p class="contactInfo">{{ salon.address }} {{ salon.addressAdditional }}<br/>
                            {{ salon.city }} {{ salon.postCode }}<br/>
                            {{ salon.phone }}</p>
                    </div>
                    <div class="large-5 columns">
                        <a href="{{ salon.mapUrl }}" target="_blank">{% thumbnail salon.map, 'medium_square' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row"><hr/></div>

    <div id="professionals" class="row">
        <h2>Szakemberek</h2>
        {% for professional in salon.professionals %}
            <div class="large-6 columns">
                <div class="panel">
                    <div class="row">
                        <div class="large-3 columns">
                            <a href="{{ path('professional_profile', {'professionalSlug': professional.slug}) }}">
                                {% thumbnail professional.profilePicture, 'medium_square' %}
                            </a>
                        </div>
                        <div class="large-9 columns">
                            <h3>
                                <a href="{{ path('professional_profile', {'professionalSlug': professional.slug}) }}">
                                    {{ professional.lastName }} {{ professional.firstName }}
                                </a>
                            </h3>
                            <p>{{ professional.profession }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row"><hr/></div>

    <div class="row">
        <a class="button" href="#">Itt dolgozok</a>
    </div>
{% endblock %}
