{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <div class="row">
        <div id="photoGalleryBrowser" class="large-12 columns photo-gallery-container">
            <div class="photo-gallery-display orbit-container">
                <ul>
                    <li>{% thumbnail gallery.currentImage, 'big' %}</li>
                </ul>
                {% if gallery.previousImage %}
                    <a href="{{ url('professional_photo', {'galleryId': gallery.galleryId, 'imageId': gallery.previousImage.id}) }}" class="orbit-prev"><span>{{ 'button.previous'|trans }}</span></a>
                {% endif %}
                {% if gallery.nextImage %}
                    <a href="{{ url('professional_photo', {'galleryId': gallery.galleryId, 'imageId': gallery.nextImage.id}) }}" class="orbit-next"><span>{{ 'button.next'|trans }}</span></a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <hr/>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <div class="panel">
                <h3>{{ 'professionalPhoto.share'|trans }}</h3>
                <div class="row">
                    <div class="medium-3 large-3 columns">{{ 'professionalPhoto.shareWithFriends'|trans }}</div>
                    <div class="medium-9 large-9 columns">{{ socialButtons() }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <div class="fb-comments" data-href="{{ app.request.uri }}" data-numposts="5" data-width="100%"></div>
        </div>
    </div>
{% endblock %}
