{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">

        <div class="large-3 columns">
            {% thumbnail profilePicture, 'medium' %}
            <div class="contact-buttons">
                <a class="tiny secondary button" href="">{{ 'professionalProfile.message'|trans }}</a>
                <a class="tiny secondary button" href="">{{ 'professionalProfile.contactInfo'|trans }}</a>
            </div>
        </div>
        <div class="large-5 columns">
            <h1>{{ lastName }} {{ firstName }}</h1>
            <h2>{{ profession }} | <a class="salonLink" href="{{ path('professional_salon', {'slug': salon.slug}) }}">{{ salon.name }}</a></h2>
            <p class="aboutMe">{{ biography }}</p>
        </div>
        <div class="large-4 columns">
            <a class="large radius button" href="#booking">{{ 'professionalProfile.bookMe'|trans }}</a>
        </div>

    </div>

    <div class="row"><hr/></div>

    <div id="professionalGallery" class="row">

        {% for picture in gallery.galleryHasMedias %}
        <div class="large-3 columns">
            <div class="panel">
                <p>
                    <a href="{{ path('professional_photo', {'professionalSlug': slug, 'photoId': picture.media.id}) }}">{% thumbnail picture.media, 'medium_square' %}</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row"><hr/></div>


    <div class="row">
        <div class="large-8 columns">
            {% if (hasServices) %}
            <h3>{{ 'professionalProfile.bookAnAppointment'|trans }}</h3>
            <a id="calendarLink" href="">{{ 'professionalProfile.professionalsCalendar'|trans({'%firstname%': firstName, '%lastname%': lastName}) }}</a>

            <div id="services">
            {% for serviceGroup in serviceGroups %}
                {% if (serviceGroup.services|length > 0) %}
                <div class="service-group">
                    <h4>{{ serviceGroup.name }}</h4>
                    <ul>
                        {% for service in serviceGroup.services %}
                        <li class="row">
                            <div class="large-6 columns">
                                <h5>{{ service.name }}</h5>
                                <p>{{ service.description }}</p>
                            </div>
                            <div class="large-2 columns">{{ service.price|localizedcurrency('HUF') }}</div>
                            <div class="large-2 columns">{{ 'professionalProfile.serviceLengthInMinutes'|trans({'%serviceLength%': service.length}) }}</div>
                            <div class="large-2 columns"><a class="tiny button" href="">{{ 'professionalProfile.service.bookMe'|trans }}</a></div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endfor %}
            </div>
            {% endif %}

            <h3>{{ 'professionalProfile.verifiedRecommendations'|trans({'%numberOfRecommendations%': recommendations|length}) }}</h3>
            <a id="recommendLink" href="">{{ 'professionalProfile.writeARecommendation'|trans }}</a>
            {% if (recommendations|length > 0) %}
            <ul id="recommendations">
                {% for recommendation in recommendations %}
                <li class="row">
                    <div class="large-2 columns">{{ recommendation.name }}<br/>{{ recommendation.createdAt | date('Y.m.d.') }}</div>
                    <div class="large-10 columns">{{ recommendation.text }}</div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="large-4 columns">
            <h3>{{ 'professionalProfile.contactDetails'|trans }}</h3>

            <h4>{{ salon.name }}</h4>
            <a href="">{{ 'professionalProfile.viewContactInfo'|trans }}</a>
            <div class="salon-contact-info hide">
                {{ salon.address }}<br/>
                {{ salon.addressAdditional }}<br/>
                {{ salon.city }} {{ salon.postCode }}<br/>
                {{ salon.phone }}
            </div>

            <a class="map" href="{{ salon.mapUrl }}" title="{{ 'googleMap'|trans }}" target="_blank">{% thumbnail salon.map, 'medium_square' %}</a>

            <h3>{{ 'professionalProfile.businessHours'|trans }}</h3>
            ...

            <h3>{{ 'professionalProfile.otherLinks'|trans }}</h3>
            <ul>
                <li><a href="{{ website }}">{{ 'professionalProfile.website'|trans }}</a></li>
                <li><a href="{{ blogPage }}">{{ 'professionalProfile.blog'|trans }}</a></li>
                <li class="icon"><a href="{{ facebookPage }}" title="facebook"><i class="fi-social-facebook"></i></a></li>
                <li class="icon"><a href="{{ twitterAccount }}" title="twitter"><i class="fi-social-twitter"></i></a></li>
            </ul>
        </div>
    </div>

{% endblock %}
