{% extends 'base.html.twig' %}

{% form_theme searchForm 'AppBundle:Form:service_search.html.twig' %}

{% block title %}{{ 'professionals.search.page_title'|trans }}{% endblock %}

{% block body %}

<div class="panel">
    <div class="row">
        <div class="big-search large-12 columns">
            <h1>{{ 'homepage.tagline'|trans }}</h1>
            {{ form(searchForm, {'action': path('service_search')}) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="large-8 columns">
        {% if searchForm.vars.valid %}
        {# total items count #}
        <div class="count">
            {{ 'professionals.search.number_of_results'|trans({'%count%':pagination.getTotalItemCount}) }}
        </div>
        <table>
            <tr>
                {# sorting of properties based on query components #}
                <th{% if pagination.isSorted('professionals.id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Id', 'professionals.id') }}</th>
                <th{% if pagination.isSorted('professionals.firstName+professionals.lastName') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', ['professionals.firstName', 'professionals.lastName']) }}</th>
                <th{% if pagination.isSorted('professionals.profession') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Profession', 'professionals.profession') }}</th>
                <th>Salon</th>
            </tr>

            {# table body #}
            {% for professional in pagination %}
                <tr {% if loop.index is odd %}class="color professional"{% endif %}>
                    <td>{{ professional.id }}</td>
                    <td>
                        <div class="panel">
                            <a href="{{ path('professional_profile', {'professionalSlug': professional.slug}) }}">
                                {% thumbnail professional.profilePicture, 'medium_square' %}
                            </a>

                            <div class="professionalName"><a href="{{ path('professional_profile', {'professionalSlug': professional.slug}) }}">{{ 'professional.name'|trans(professional.name) }} </a></div>
                            <div class="professionalAddress">{{ professional.address }}<br />
                                {{ professional.addressAdditional }}<br />
                                <a href="{{ path('professional_profile', {'professionalSlug': professional.slug}) }}#map">{{ 'professionals.search.address_on_map'|trans }}</a>
                            </div>
                        </div>
                    </td>
                    <td><span class="professionalProfession">{{ professional.profession }}</span></td>
                    <td><span class="professionalSalon">{{ professional.salon.name }}</span></td>
                </tr>
            {% endfor %}
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        {% else %}
            <p class="align-center">{{ 'professionals.search.no_results'|trans }}</p>
        {% endif %}
    </div>
</div>

{% endblock %}
