<header class="top-bar row" data-topbar role="navigation">
    <nav>
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">Szépül.hu</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
    </nav>

    <div class="top-bar-section">
        <!-- Right Nav Section -->
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <nav id="client-menu">
            <ul class="right">
                <li class="has-dropdown">
                    <a href="#">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a>
                    <ul class="dropdown">
                        <li><strong>User ID:</strong> {{ app.user.id }}</li>
                        <li><strong>User type:</strong> {{ app.user.userType }}</li>
                        <li><strong>User roles:</strong> {{ app.user.roles|join(', ') }}</li>
                    </ul>
                </li>
                <li><a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
                </li>
            </ul>
        </nav>
        {% else %}
        <nav id="visitor-menu">
            <ul class="right">
                <li><a href="{{ path('client_user_registration') }}">{{ 'menuitem.signup.text'|trans }}</a></li>
                <li><a href="{{ path('fos_user_security_login') }}">{{ 'menuitem.login.text'|trans }}</a></li>
                <li class="highlight"><a href="{{ path('professional_registration_flow') }}">{{ 'menuitem.listyourbusiness.text'|trans }}</a></li>
            </ul>
        </nav>
        {% endif %}


        <!-- Left Nav Section -->
        <nav>
            <ul class="left">
                <li><a href="/fotok">{{ 'menuitem.photos.text'|trans }}</a></li>
                <li><a href="/hogy-mukodik">{{ 'menuitem.howitworks.text'|trans }}</a></li>
            </ul>
        </nav>
    </div>
</header>

