{% extends 'base.html.twig' %}

{% block body %}

    <div class="panel">
        <div class="row">
            <div class="big-search large-12 columns">
                <h1>Foglalj időpontot szépség- és wellness szakembereknél a környékeden</h1>
                <form>
                    <div class="row">
                        <div class="small-12 medium-3 columns">
                            <div class="row">
                                <div class="small-3 columns">
                                    <label for="right-label" class="right inline">Label</label>
                                </div>
                                <div class="small-9 columns">
                                    <input type="text" id="right-label" placeholder="Inline Text Input">
                                </div>
                            </div>
                        </div>

                        <div class="small-12 medium-3 columns">
                            <div class="row">
                                <div class="small-3 columns">
                                    <label for="right-label" class="right inline">Label</label>
                                </div>
                                <div class="small-9 columns">
                                    <input type="text" id="right-label" placeholder="Inline Text Input">
                                </div>
                            </div>
                        </div>

                        <div class="small-12 medium-3 columns">
                            <div class="row">
                                <div class="small-3 columns">
                                    <label for="right-label" class="right inline">Label</label>
                                </div>
                                <div class="small-9 columns">
                                    <input type="text" id="right-label" placeholder="Inline Text Input">
                                </div>
                            </div>
                        </div>

                        <div class="small-12 medium-3 columns">
                            <div class="row">
                                <button type="submit" class="button">Keresés</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">
            <form action="">
                <select name="countySelector" id="countySelector">
                    <option value="Budapest">Budapest</option>
                    <option value="Pest">Pest megye</option>
                    <option value="Csongrád">Csongrád megye</option>
                    <option value="Tolnadenem">Tolnadenem megye</option>
                </select>
            </form>
            <article>
                <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
                {% for i in 0..5 %}
                    {% if featuredProfessionals[i] is defined %}
                        {% set professional = featuredProfessionals[i] %}
                        <li>
                            <div class="panel featuredProfessional">
                                <a href="{{ path('professional_profile', {'professionalSlug': professional.slug}) }}">
                                    {% thumbnail professional.profilePicture, 'medium_square' %}
                                </a>

                                <span class="professionalName"><a href="{{ path('professional_profile', {'professionalSlug': professional.slug}) }}">{{ professional.lastName }} {{ professional.firstName }} </a></span><br>
                                <span class="professionalProfession">{{ professional.profession }}</span>
                            </div>
                        </li>
                    {% else %}
                        <li>
                            <div class="panel featuredProfessional free">
                                <a href="{{ path('professional_registration_flow') }}">
                                    <img src="img/silhouette_{{ random(['male', 'female']) }}.jpg" alt=""/>
                                </a>

                                <span class="professionalName">Hirdesd magad itt</span><br>
                                <span class="professionalProfession"><a href="{{ path('professional_registration_flow') }}">Kattints ide</a></span>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </article>

            <hr>

            Ahogy itt is láthattad...

        </div>

        <aside class="large-4 columns">

            <div class="panel">
                <a href="">Böngéssz szakembereink ajánlataiból</a>
            </div>

            <div class="panel">
                <a href="#">
                    <img src="" alt="">
                    A nap fotója
                </a>
            </div>

        </aside>
    </div>

{% endblock %}
