{% extends 'base.html.twig' %}

{% form_theme searchForm 'AppBundle:Form:service_search.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="panel">
        <div class="row">
            <div class="big-search large-12 columns">
                <h1>{{ 'homepage.tagline'|trans }}</h1>
                {{ form(searchForm, {'action': path('service_search')}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">
            {% set savedLocation = app.request.cookies.get('location') | json_decode %}
            <form action="">
                <select name="countySelector" id="countySelector">
                {% if capitalCity %}
                    <option value="{{ capitalCity.name }}" data-type="city">{{ capitalCity.name }}</option>
                {% endif %}
                {% for city in bigCitiesWithFeaturedProfessionals %}
                    <option value="{{ city.name }}" data-type="city"{% if savedLocation and savedLocation.type == 'city' and savedLocation.name == city.name %} selected="selected"{% endif %}>{{ city.name }}</option>
                {% endfor %}
                    <option value="" disabled>-----------------------</option>
                {% for county in countiesWithFeaturedProfessionals %}
                    <option value="{{ county.name }}" data-type="county"{% if savedLocation and savedLocation.type == 'county' and savedLocation.name == county.name %} selected="selected"{% endif %}>{{ 'homepage.countyoption'|trans({'%countyName%': county.name}) }}</option>
                {% endfor %}
                </select>
            </form>

            <article id="featuredProfessionals">
                {{ render(controller('app.default_controller:embeddedFeaturedProfessionalsAction')) }}
            </article>

            <hr>

            {{ 'homepage.asSeenHere'|trans }}

        </div>

        <aside class="large-4 columns">

            <div class="panel">
                <a href="">{{ 'homepage.browseOffers'|trans }}</a>
            </div>

            <div class="panel">
                <a href="#">
                    <img src="" alt="">
                    {{ 'homepage.photoOfTheDay'|trans }}
                </a>
            </div>

        </aside>
    </div>

    {% set script %}
    <script>
        var $countySelector = $('#countySelector');
        $countySelector.change(function(){
            var data = {
                location: {
                    type: $countySelector.find('option:selected').data('type'),
                    name: $countySelector.val()
                }
            };
            $.ajax({
                url : '{{ path('embedded_featured_professionals') }}',
                type: 'post',
                data : data,
                success: function(html) {
                    $('#featuredProfessionals ul').replaceWith($(html));
                }
            });
        });

        if (!Cookies.get('location') && geoPosition.init()) {
            geoPosition.getCurrentPosition(
                    function(location) {
                        if (location.coords.latitude && location.coords.longitude) {
                            $.ajax({
                                url : '{{ path('get_closest_location') }}',
                                type: 'post',
                                data: {
                                    latitude: location.coords.latitude,
                                    longitude: location.coords.longitude
                                },
                                success: function(response) {
                                    Cookies.set('location', response.location);
                                    changeFeaturedProfessionalsBlockByLocation(response.location);
                                }
                            });
                        }
                    },
                    function(error) {},
                    {enableHighAccuracy: true}
            );
        }

        function changeFeaturedProfessionalsBlockByLocation(location)
        {
            if ($countySelector.val() != location.name) {
                $countySelector.val(location.name).trigger('change');
            }
        }
    </script>
    {% endset %}

    {{ scripts.add(script) }}
{% endblock %}
