{% extends 'base.html.twig' %}

{% form_theme searchForm 'AppBundle:Form:service_search.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="panel">
        <div class="row">
            <div class="big-search large-12 columns">
                <h1>{{ 'homepage.tagline'|trans }}</h1>
                {{ form(searchForm, {'action': path('service_search')}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">
            <div id="featuredProfessionals">
                {{ render(controller('app.default_controller:embeddedFeaturedProfessionalsAction')) }}
            </div>

            <hr>

            {{ 'homepage.asSeenHere'|trans }}

        </div>

        <aside class="large-4 columns">

            <div class="panel">
                <a href="">{{ 'homepage.browseOffers'|trans }}</a>
            </div>

            <div class="panel">
                <a href="#">
                    <img src="" alt="">
                    {{ 'homepage.photoOfTheDay'|trans }}
                </a>
            </div>

        </aside>
    </div>

    {% set script %}
    <script>
        (function () {
            var $featuredProfessionals = $('#featuredProfessionals');
            $featuredProfessionals.on('change', 'select[name=locationSelector]', function () {
                var data = {
                    location: {
                        type: $(this).find('option:selected').data('type'),
                        name: $(this).val()
                    }
                };
                $.ajax({
                    url: '{{ path('embedded_featured_professionals') }}',
                    type: 'post',
                    data: data,
                    success: function (html) {
                        $featuredProfessionals.html(html);
                    }
                });
            });

            Application.geolocateClosestFeaturedProfessionals($('select[name=locationSelector]'));
        })();
    </script>
    {% endset %}

    {{ scripts.add(script) }}
{% endblock %}
